
/*--------------------------------*/
/* BASIC SETUP */
/*--------------------------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {

	background-color: #fff;
	color: #555;
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;

}

.clearfix {zoom: 1}
.clearfix:after {

	clear: both;
	content: '.';
	display: block;
	height: 0;
	visibility: hidden;

}


/*--------------------------------*/
/* REUSEABLE COMPONENTS */
/*--------------------------------*/

.box {

	padding: 1%;
}

.row {

	max-width: 1140px;
	margin: 0 auto;

}

section {

	padding: 80px 0;

}

/*--------------------------------*/
/* HEADER */
/*--------------------------------*/

header {

	background-attachment: fixed;
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/hero.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.hero-text-box {

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 1140px;

}

.logo {

	float: left;
	height: 100px;
	margin-top: 20px;
	width: auto;

}

.main-nav {

	float: right;
	list-style: none;
	margin-top: 55px;

}

.main-nav li {

	display: inline-block;
	margin-left: 40px;

}

.main-nav li a:link,
.main-nav li a:visited {

	border-bottom: 2px solid transparent;
	color: #fff;
	font-size: 90%;
	padding: 8px 0;
	text-decoration: none;
	text-transform: uppercase;
	transition: border-bottom 0.2s;

}

.main-nav li a:active,
.main-nav li a:hover {

	border-bottom: 2px solid #e67e22;

}

/*--------------------------------*/
/* FEATURES */
/*--------------------------------*/

.section-features .long-copy {

	margin-bottom: 30px;

}

/*--------------------------------*/
/* MEALS */
/*--------------------------------*/

.section-meals {
	padding: 0;

}

.meals-showcase {

	list-style: none;
	width: 100%;

}

.meals-showcase li {

	display: block;
	float: left;
	width: 25%	;

}

.meal-photo {

	background-color: #000;
	margin: 0;
	overflow: hidden;
	width: 100%;

}

.meal-photo img {

	height: auto;
	opacity: 0.7;
	transform: scale(1.15);
	transition: opacity 0.5s, transform 0.5s;
	width: 100%;

}

.meal-photo img:hover {

	opacity: 1;
	transform: scale(1.05);

}

/*--------------------------------*/
/* HOW IT WORKS */
/*--------------------------------*/

.section-steps {

	background-color: #f4f4f4;

}

.steps-box:first-child {

	margin-top: 30px;
	padding-right: 3%;
	text-align: right;

}

.steps-box:last-child {

	margin-top: 70px;
	padding-left: 3%;

}

.app-screen {

	width: 40%;

}

.works-step {

	margin-bottom: 50px;

}

.works-step:last-of-type {

	margin-bottom: 80px;

}

.works-step div {

	border: 2px solid #cf6d17;
	border-radius: 50%;
	color: #cf6d17;
	display: inline-block;
	float: left;
	font-size: 150%;
	height: 55px;
	margin-right: 25px;
	padding: 5px;
	text-align: center;
	width: 55px;

}

.btn-app:link,
.btn-app:visited {

	border: 0;

}

.btn-app img {

	height: 50px;
	margin-right: 10px;
	width: auto;

}

/*--------------------------------*/
/* CITIES */
/*--------------------------------*/

	.box img {

		height: auto;
		margin-bottom: 15px;
		width: 100%;

	}

	.city-feature {

		margin-bottom: 5px;

	}

	.icon-small {

		color: #e67e22;
		display: inline-block;
		line-height: 20%;
		margin-right: 10px;
		margin-top: -4px;
		text-align: center;
		vertical-align: middle;
		width: 30px;

	}

/*--------------------------------*/
/* TESTIMONIALS */
/*--------------------------------*/

	.section-testimonials {

		background-attachment: fixed;
		background-image: linear-gradient(rgba(0,0,0,0.8), #000), url(img/back-customers.jpg);
		background-size: cover;
		color: #fff;

	}

	blockquote {

		font-style: italic;
		line-height: 145%;
		margin-top: 40px;
		position: relative;

	}

	cite {

		display: block;
		font-size: 20px;
		margin-top: 25px;

	}

	cite img {

		border-radius: 50%;
		height: 45px;
		margin-right: 10px;
		vertical-align: middle;

	}

/*--------------------------------*/
/* SIGN UP */
/*--------------------------------*/

	.section-plans {

		background-color: #f4f4f4;

	}

	.plan-box {

		background-color: #fff;
		border-radius: 5px;
		margin-left: 5%;
		width: 90%;

	}

	.plan-box div {

		border-bottom: 1px solid #e8e8e8;
		box-shadow: 0 2px 2px #efefef;
		padding: 15px;

	}

	.plan-box div:first-child {

		background-color: #fcfcfc;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;

	}

	.plan-box div:last-child {

		border: 0;
		text-align: center;

	}

	.plan-price {

		color: #e67e22;
		font-size: 300%;
		font-weight: 300;
		margin-bottom: 10px;

	}

	.plan-price span {

		font-size: 30%;
		font-weight: 300;	

	}

	.plan-price-meal {

		font-size: 80%;

	}

	.plan-box ul {

		list-style: none;

	}

	.plan-box ul li {

		padding: 5px 0;

	}

/*--------------------------------*/
/* FORM */
/*--------------------------------*/

	.contact-form {

		margin: 0 auto;
		width: 60%;

	}

	input[type=text],
	input[type=email],
	select,
	text {

		border: 1px solid #ccc;
		border-radius: 10px;
		padding: 7px;
		width: 100%;

	}

	textarea {

		height: 100px;
		width: 100%;

	}

	input[type=checkbox] {

		margin: 10px 5px 10px 0;

	}

	*:focus {

		outline: none;

	}

/*--------------------------------*/
/* FOOTER */
/*--------------------------------*/

	footer {

		background-color: #333;
		font-size: 80%;
		padding: 50px;

	}

	.footer-nav {

		float: left;
		list-style: none;

	}

	.social-icons {

		float: right;
		list-style: none;
	}

	.footer-nav li,
	.social-icons li {

		display: inline-block;
		margin-right: 20px;

	}

	.footer-nav li:last-child,
	.social-icons li:last-child {

		margin: 0;

	}

	.footer-nav a:link,
	.footer-nav a:visited,
	.social-icons a,
	.social-icons a:link,
	.social-icons a:visited {

		border: 0;
		color: #888;
		text-decoration: none;
		transition: color 0.2s;

	}

	.footer-nav li a:hover,
	.footer-nav li :active {

		color: #ddd;

	}

	.social-icons li a:link,
	.social-links li a:visited {

		font-size: 160%;

	}

	.fb-icon,
	.twitter-icon,
	.google-plus-icon,
	.instagram-icon {

		transition: color 0.2s;

	}

	.fb-icon:hover {

		color: #3b5998;

	}

	.twitter-icon:hover {

		color: #00aced;

	}

	.google-plus-icon:hover {

		color: #dd4b39;

	}

	.instagram-icon:hover {

		color: #517fa4;

	}

	footer p {

		color: #888;
		font-size: 90%;
		margin-top: 20px;
		text-align: center;

	}


/*--------------------------------*/
/* LINKS */
/*--------------------------------*/

a:link,
a:visited {

	border-bottom: 1px solid #e67e22;
	color: #e67e22;
	padding-bottom: 1px;
	text-decoration: none;
	transition: border-bottom 0.2s, color;

}

a:hover,
a:active {

	border-bottom: transparent;
	color: #555;

}

/*--------------------------------*/
/* HEADINGS */
/*--------------------------------*/

h1,
h2,
h3 {

	
	font-weight: 300;
	text-transform: uppercase;

}

h1 {
	
	color: #fff;
	font-size: 240%;
	letter-spacing: 1px;
	margin-bottom: 20px;
	margin-top: 0;
	word-spacing: 4px;

}

h2 {

	font-size: 180%;
	letter-spacing: 1px;
	margin-bottom: 30px;
	text-align: center;
	word-spacing: 2px;

}

h3 {

	font-size: 110%;
	margin-bottom: 15px;


}

h2:after {

	background-color: #cf6d17;
	content: " ";
	display: block;
	height: 2px;
	margin: 0 auto;
	margin-top: 30px;
	width: 100px;

}

/*--------------------------------*/
/* PARAGRAPHS */
/*--------------------------------*/

.long-copy {

	line-height: 145%;
	margin-left: 15%;
	width: 70%;

}

.box p {

	font-size: 90%;
	line-height: 145%;

}

/*--------------------------------*/
/* ICONS */
/*--------------------------------*/

.icon-big {

	color: #cf6d17;
	display: block;
	height: 74px;
	margin-bottom: 10px;
	width: 74px;

}

/*--------------------------------*/
/* BUTTONS */
/*--------------------------------*/

.btn:link,
.btn:visited,
input[type=submit] {

	border-radius: 200px;
	display: inline-block;
	font-weight: 300;
	margin-right: 15px;
	padding: 10px 30px;
	text-decoration: none;
	transition: background-color 0.2s, color 0.2s;

}

.btn-full:link,
.btn-full:visited,
input[type=submit] {

	background-color: #e67e22;
	border: 1px solid #e67e22;
	color: #fff;

}

.btn-ghost:link,
.btn-ghost:visited {

	border: 1px solid #e67e22;
	color: #e67e22;

}

.btn:active,
.btn:hover,
input[type=submit]:hover,
input[type=submit]:active {

	background-color: #cf6d17;

}

.btn-full:active,
.btn-full:hover {

	background-color: #cf6d17;

}

.btn-ghost:active,
.btn-ghost:hover,
input[type=submit] {

	border: 1px solid #cf6d17;
	color: #fff;

}




